
<body>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;height: 710px;" src="../assets/EMS.jpg" alt="Random first slide" />
        </div>
        
    </ng-template>
    
    
</ngb-carousel>
 
  

        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
                <div class="divMain container">
                    <div class="container c1 text">
                        <h1 class="text"> Technology  Used:</h1>
                        <br>
                        <ul class="category" id="t1">
                            <li>Backend Techknowlogy
                              <ul class="subcategory">
                                <li>Java</li>
                                <li>Spring Boot</li>
                              </ul>
                            </li>
                            <li>Frontend Techknowlogy
                              <ul class="subcategory">
                                <li>Angular</li>
                              </ul>
                            </li>
                            <li>Database Techknowlogy
                              <ul class="subcategory">
                                <li>MySQL</li>
                              </ul>
                            </li>
                          </ul>
                          
                         
                    </div>
                    <div class=" image">
                        <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image">
                    </div>
                </div>
                <br><br>
        </section>




</body>